<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="score-board">
        <h2></h2>
    </div>
    <div>
        <div class="welcome-msg">
            <h1>Welcome! Click the button below to start the quiz</h1>
            <button>Start Quiz</button>
        </div>
        <div class="quiz" style="display: none;">
            <div id="quiz-div">
                <h3 id="question"></h3>
            </div>
            <div class="answer-div">

            </div>

            <div>
                <input type="submit" id="submit-btn" style="display: none;">
            </div>
        </div>
    </div>
    <script src="/public files/quiz.js"></script>
    <script src="/public files/test.js"></script>
</body>

</html>